/* .flex-row {
    flex-direction: row;
} */

.flex-row {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns items to start on cross axis */
  }
  
  .flex-col {
    display: flex;
    flex-direction: column;
  }
  
.inline {
    display: inline-flex;
    /*no difference to display:flex; */
}
.flex-wrap{
    flex-wrap: wrap;
}
.scroll{
    overflow: scroll;
}

